@import url('https://fonts.googleapis.com/css2?family=Hubballi&family=Montserrat:wght@200&family=Noto+Sans&display=swap');
$myfont: 'Noto Sans', sans-serif;
$fontsize-base:21px;
$header-bgcolor :#ebd4d4;
$footer-color1: #777171;
$footer-color2:#C4C4C4;
$font-color1:#000000;
$font-color2:#ffffff;
$font-color3:#B8B2B2;
$color:#7c619b;
@mixin icon{
    position: absolute;
    font-size: 30px;
    align-items: center;
    color:black;

}

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    
}
 

body{
    background-color: $header-bgcolor;
}



    .logo{
        width:72px;
        height: 72px;
        position: absolute;
        left:22.33%;
        right:56.14%;
        top:1.23%;
        bottom:94.49%;
    }
    #title{
        position: absolute;
        //width: 103px;
        height: 29px;
        left: 155px;
        top: 10px;
        font-family:$myfont +6px;
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 30px;


    }
.nav-bar{
    border-bottom:1px solid gray ;
    text-align: center;
    position: absolute;
    width:100%;
    height: 5vh;
    margin-top: -50px;
    z-index: 100;
    //background-color: $header-bgcolor;
    
    .toggle{
        display: none;
    }

}
nav ul{
    position:absolute;
    margin-top: 40px;;
    width: 100%;
    height: 60vh;
    padding:16px;
    background: $color;
    left:-100%;
    transition:all .5s;
    list-style: none;
    li{
        margin-bottom: 46px;
        margin-left: 16px;
        a{
            color:white;
            text-decoration: none;
            font-family: inherit;
            font-size: $fontsize-base;
            
        }
        &:hover{
            background-color: $font-color3;
            padding:10px;
            border-radius: 20px;
            transition: ease-in-out;
        }
        
        }
    }
    .toggle:checked ~ nav ul{
        left:0;
}
.hamburger{
   @include icon();
    right:0;
    top:0;
    margin-top:5px;
    margin-right:10px;
}
.homebtn{
    @include icon();
    left:0;
    top:0;
    margin-top:5px;
    margin-left:10px ;
}
.basketbtn{
    @include icon();
    top:0;
    margin-top:5px;
    margin-left:-15px ;

}
.accountbtn{
    @include icon();
    top:0;
    margin-top:5px;
    margin-left: 120px;

}
h1{
    text-align: center;
    margin-top: 120px;
    font-weight: 100;
}
h2{
    text-align: center;
    font-size: $fontsize-base;
    font-weight: 100;
    margin-top: 20px;
}
label{
    font-size: 18px;
}
.iconify{
    color:black;
    transition: .5s ease in;
    &:hover{
        color:$footer-color1;
        

    }
}
.signIn{
    margin-top: 20px;
    border: 1px solid gray;
    //position: absolute;
    width: 80%;
    height: 350px;
    padding:20px;
    text-align: center;
    margin-left: 40px;
    .text-input{
        width: 90%;
        height: 5vh;
        margin-top:5px;
        margin-bottom: 20px;
        font-size: 15px;
        font-family: inherit;
    }
    
}

.registeration{
    
        margin-top: 20px;
        border: 1px solid gray;
        //position: absolute;
        width: 80%;
        height: 660px;
        padding:20px;
        text-align: center;
        margin-left: 40px;
        .textInput{
            width: 90%;
            height: 5vh;
            margin-top:5px;
            margin-bottom: 30px;
            font-size: 15px;
            font-family: inherit;
        }
        
    }
    
















footer{
    background-color: $footer-color2;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    padding:10px 20px;
    p{
        font-size: $fontsize-base - 2px;
        text-align: center;
    

    }
    #add{
        text-align: center;
        list-style: none;
        a{
            text-decoration: none;
            color:$font-color1;
        }

    }
    .socialMedia{
        //margin-left: -50px;
       
    
        ul{
            margin-top: 10px;
            display:flex;
            justify-content: space-around;
            li{
                margin-top: 10px;
                list-style: none;
                font-size: 30px;
               a{
                   color:$font-color1;
                   &:hover{
                       //opacity:.5;
                       color:$color;
                   }
               }
            }
        }
    }
}

.signInBtn,.btn{
    padding:10px;
    width: 30%;
    margin-bottom: 20px;
    background: none;
    border-radius: 20px;
    transition: 1 ease-in-out;
   
    &:hover{
            background-color: $color;
            color:$font-color2;
             }
}
.val_error{
    color:#ef2020;
    font-weight: 100;
    font-size: 18px;
    //margin-bottom: 20px;
}