
@import url('https://fonts.googleapis.com/css2?family=Hubballi&family=Montserrat:wght@200&family=Noto+Sans&display=swap');
$myfont: 'Noto Sans', sans-serif;
$fontsize-base:21px;
$header-bgcolor :#E9E1E1;
$footer-color1: #777171;
$footer-color2:#C4C4C4;
$font-color1:#000000;
$font-color2:#ffffff;
$font-color3:#B8B2B2;
$color:#7c619b;
@mixin icon{
    position: absolute;
    font-size: 30px;
    align-items: center;
    

}
@mixin pic{
    width:24em;
    height: 15em;
    //position:absolute;
    border-radius: 20px;

}
@mixin fontmix{
    position:absolute;
    margin-top:-50px;
    margin-left: 10px;
    font-weight: 100;
}



*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    
}
body{
    background-color: $header-bgcolor;
}
.mySlides{
    display: none;
}
#image{
    vertical-align: middle;
}






    .logo{
        width:72px;
        height: 72px;
        position: absolute;
        left:22.33%;
        right:56.14%;
        top:1.23%;
        bottom:94.49%;
    }
    h2{
        position: absolute;
        //width: 103px;
        height: 29px;
        left: 155px;
        top: 30px;
        font-family:$myfont +6px;
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 30px;

    }
.nav-bar{
    //border-top:1px solid gray ;
    border-bottom:1px solid gray ;
    text-align: center;
    position: absolute;
    width:100%;
    height: 5vh;
    margin-top: -50px;
    z-index: 100;
    //background-color: $header-bgcolor;
    
    .toggle{
        display: none;
    }

}
nav ul{
    position:absolute;
    margin-top: 40px;;
    width: 100%;
    height: 60vh;
    padding:16px;
    background: $color;
    left:-100%;
    transition:all .5s;
    list-style: none;
    li{
        margin-bottom: 46px;
        margin-left: 16px;
        a{
            color:white;
            text-decoration: none;
            font-family: inherit;
            font-size: $fontsize-base;
            
        }
        &:hover{
            background-color: $font-color3;
            padding:10px;
            border-radius: 20px;
            transition: ease-in-out;
        }
        
        }
    }
    .toggle:checked ~ nav ul{
        left:0;
}
.iconify{
    color:black;
}
.hamburger{
   @include icon();
    right:0;
    top:0;
    margin-top:5px;
    margin-right:10px;
}
.homebtn{
    @include icon();
    left:0;
    top:0;
    margin-top:5px;
    margin-left:10px;
    
}
.basketbtn{
    @include icon();
    top:0;
    margin-top:5px;
    margin-left:-15px ;

}
.accountbtn{
    @include icon();
    top:0;
    margin-top:5px;
    margin-left: 120px;

}
// #firstImage{
//    @include pic();
//     margin-top: 130px;
//     border-radius: 20px;
// }

// #secondImage{
//     @include pic();
//     margin-top:380px ;
   
// }
// #thirdImage{
//     @include pic();
//     margin-top: 630px;
// }
// #fourthImage{
//     @include pic();
//     margin-top:880px;
// }
/*slide show container*/
.slideshow-container{
    position: relative;
    margin: auto;
}

// next & previous buttons
.prev, .next{
    cursor: pointer;
    position: absolute;
    top:50%;
    padding:16px;
    margin-top: -22px;
    color:$font-color2;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6 ease;
    border-radius: 0 3px 3px 0;
    user-select: none;


}

/* position the next button to the right */
.next{
    right: 0;
    border-radius: 0 3px 3px 0;
}

/* on hover*/
.prev:hover, .next:hover{
    background-color:$font-color1;
}

.text{
    color:$font-color2;
    font-size: $fontsize-base;
    padding:8px 12px;
    position: absolute;
    bottom:8px;
    width: 100%;
    text-align: center;
}

/*number text*/
.numbertext{
    color:$font-color2;
    font-size: 12px;
    padding:8px 12px;
    position:absolute;
    top:0;
}
.dot{
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color:$footer-color1;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;

}
.active, .dot:hover{
    background-color:$footer-color2;

}

/*Fading ani*/
.fade{
    animation-name: fade;
    animation-duration: 1.5s;
}
@keyframes fade{
    from{
        opacity: .4;
    }
    to{
        opacity:1;
    }
}
h3{
    font-size: $fontsize-base + 10px;
    color:$font-color2;
    font-family: inherit;
}
#promo,#cat,#wed,#funeral{
    @include fontmix();
    

}
#cat{
    position:absolute;
    margin-top: -50px;
    margin-left: 10px;
    

}

img{
    @include pic();
}
.main{
    display :grid;
    justify-content: center;
    gap:10px;
    //top:0;
    margin-top: 110px;
    
    
}
.phone{
    background-color: $footer-color1;
    width:100%;
    
   #ad{ 
    text-align: center;
    color:$font-color2;
    font-size: $fontsize-base;
    line-height: 30px;

}
    
}
footer{
    background-color: $footer-color2;
    display: flex;
    justify-content: space-between;
    padding:10px 20px;
    p{
        font-size: $fontsize-base - 2px;
        text-align: center;
    

    }
    #add{
        text-align: center;
        list-style: none;
        a{
            text-decoration: none;
            color:$font-color1;
        }

    }
    .socialMedia{
        //margin-left: -50px;
       
    
        ul{
            margin-top: 10px;
            display:flex;
            justify-content: space-around;
            li{
                margin-top: 10px;
                list-style: none;
                font-size: 30px;
               a{
                   color:$font-color1;
                   &:hover{
                       //opacity:.5;
                       color:$color;
                   }
               }
            }
        }
    }
}