@import url("https://fonts.googleapis.com/css2?family=Hubballi&family=Montserrat:wght@200&family=Noto+Sans&display=swap");
* {
  box-sizing: border-box;
}

body {
  background-color: #E9E1E1;
  margin: 0;
  padding: 0;
}

#image {
  display: block;
  width: 100%;
  border-radius: 20px;
  margin-top: 30px;
  margin-bottom: 10px;
}

header {
  width: 100%;
}

img {
  display: block;
  width: 100%;
  height: 15em;
  border-radius: 20px;
}

.brand {
  display: flex;
  justify-content: center;
}
.brand .logo {
  width: 72px;
  height: 72px;
}
.brand h2 {
  font-family: "Noto Sans", sans-serif;
  margin-left: -16px;
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 40px;
}

.nav-bar {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  background-color: #7c619b;
  margin-bottom: 2px;
  border-radius: 10px 10px 0 0;
  border-bottom: 1px solid grey;
  position: absolute;
  text-align: center;
  z-index: 100;
}

.toggle {
  display: none;
}

nav ul {
  position: absolute;
  margin-top: 1px;
  width: 100%;
  height: 70vh;
  padding: 16px;
  left: -100%;
  border-radius: 0 0 10px 10px;
  background-color: #7c619b;
  transition: all 0.5s;
  list-style: none;
  text-align: center;
  z-index: 100;
}
nav ul li {
  margin-bottom: 56px;
  margin-left: 16px;
}
nav ul li a {
  color: white;
  text-decoration: none;
  font-family: inherit;
  font-size: 21px;
}
nav ul li a:hover {
  background-color: #B8B2B2;
  padding: 10px;
  border-radius: 20px;
  transition: ease-in-out;
}

.toggle:checked ~ nav ul {
  left: 0;
}

.iconify {
  color: black;
  font-size: 28px;
}

.slideshow-container {
  position: relative;
  max-width: 900px;
  margin: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: -20px;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  padding: 16px;
  margin-top: -22px;
  color: #ffffff;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6 ease;
  border-radius: 0 3px 3px 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

/* position the next button to the right */
.next {
  right: 0;
  border-radius: 0 3px 3px 0;
}

/* on hover*/
.prev:hover, .next:hover {
  background-color: #000000;
}

.text {
  color: #ffffff;
  font-size: 23px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/*number text*/
.numbertext {
  color: #ffffff;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  margin-top: 35px;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  background-color: #777171;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #C4C4C4;
}

/*Fading ani*/
.fade {
  -webkit-animation-name: fade;
          animation-name: fade;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
h3 {
  font-size: 31px;
  color: #ffffff;
  font-family: inherit;
}

#promo, #cat, #wed, #funeral {
  position: absolute;
  margin-top: -50px;
  margin-left: 10px;
  font-weight: 100;
  font-size: 26px;
}

.phone {
  background-color: #777171;
  width: 100%;
  margin: -20px auto;
}
.phone #ad {
  text-align: center;
  color: #ffffff;
  font-size: 21px;
  line-height: 30px;
}

footer {
  background-color: #C4C4C4;
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
}
footer p {
  font-size: 19px;
  text-align: end;
}
footer .useful-links {
  display: none;
}
footer #add {
  text-align: end;
  list-style: none;
}
footer #add a {
  text-decoration: none;
  color: #000000;
}
footer .socialMedia ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
  margin-left: -40px;
}
footer .socialMedia ul li a {
  color: #000000;
}
footer .socialMedia ul li a:hover {
  color: #7c619b;
}

/*Tablet View*/
@media screen and (min-width: 668px) {
  #image {
    width: 100%;
    height: 30em;
    border-radius: 20px;
    margin-top: 30px;
    margin-bottom: 10px;
  }

  .main2 {
    max-width: 900px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3px;
  }
}
@media screen and (min-width: 1000px) {
  .iconify {
    font-size: 35px;
  }

  .brand {
    margin-left: 10px;
  }
  .brand h2 {
    font-size: 23px;
    line-height: 50px;
  }
  .brand .logo {
    width: 92px;
    height: 92px;
  }

  .nav-bar {
    border-bottom: none;
  }
  .nav-bar .homebtn, .nav-bar .hamburger {
    position: absolute;
    display: none;
  }
  .nav-bar .accountbtn {
    position: absolute;
    margin-top: -65px;
    margin-left: 59rem;
  }
  .nav-bar .basketbtn {
    position: absolute;
    margin-top: -65px;
    margin-left: 56rem;
  }
  .nav-bar nav ul {
    all: unset;
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
    list-style: none;
    margin-left: 6.5rem;
  }
  .nav-bar nav ul li a {
    color: #000000;
    font-size: 21px;
    font-family: inherit;
  }

  .text {
    font-size: 41px;
    bottom: 60px;
  }

  .prev {
    font-size: 20px;
    padding: 16px;
    top: 50%;
    margin-left: 35px;
  }

  .next {
    font-size: 20px;
    padding: 16px;
    top: 50%;
    margin-right: 35px;
  }

  .numbertext {
    font-size: 20px;
    position: absolute;
    margin-left: 40px;
    margin-top: 70px;
  }

  .dot {
    margin-top: 20px;
  }

  .main2 {
    max-width: 900px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 10px;
    margin: auto;
    margin-bottom: 40px;
  }
  .main2 #secondImage {
    grid-row: 1;
    grid-column: span 3;
  }

  #img-id {
    min-width: 900px;
    margin: auto;
    min-height: 300px;
  }

  img {
    width: 18.5em;
    height: 13em;
  }

  footer {
    height: 10em;
  }
  footer .useful-links {
    display: block;
  }
  footer .useful-links ul {
    list-style: none;
    font-size: 20px;
    margin-top: 10px;
  }
  footer .useful-links ul li a {
    text-decoration: none;
    color: black;
  }

  p {
    font-size: 26px;
  }
}/*# sourceMappingURL=stylecopy.css.map */