@import url("https://fonts.googleapis.com/css2?family=Hubballi&family=Montserrat:wght@200&family=Noto+Sans&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #ebd4d4;
}

header {
  width: 100%;
}

img {
  width: 100%;
  height: 15em;
  border-radius: 20px;
}

.brand {
  display: flex;
  justify-content: center;
}
.brand .logo {
  width: 72px;
  height: 72px;
}
.brand h2 {
  font-family: "Noto Sans", sans-serif;
  margin-left: -16px;
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 70px;
}

.nav-bar {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  background-color: #7c619b;
  margin-bottom: 2px;
  border-radius: 10px 10px 0 0;
  border-bottom: 1px solid grey;
  position: absolute;
  text-align: center;
  z-index: 100;
}

.toggle {
  display: none;
}

nav ul {
  position: absolute;
  margin-top: 1px;
  width: 100%;
  height: 70vh;
  padding: 16px;
  left: -100%;
  border-radius: 0 0 10px 10px;
  background-color: #7c619b;
  transition: all 0.5s;
  list-style: none;
  text-align: center;
  z-index: 100;
}
nav ul li {
  margin-bottom: 56px;
  margin-left: 16px;
}
nav ul li a {
  color: white;
  text-decoration: none;
  font-family: inherit;
  font-size: 19px;
}
nav ul li a:hover {
  background-color: #B8B2B2;
  padding: 10px;
  border-radius: 20px;
  transition: ease-in-out;
}

.toggle:checked ~ nav ul {
  left: 0;
}

.iconify {
  color: black;
  font-size: 28px;
}

/*.hamburger{
   @include icon();
    right:0;
    top:0;
    margin-top:5px;
    margin-right:10px;
}
.homebtn{
    @include icon();
    left:0;
    top:0;
    margin-top:5px;
    margin-left:10px ;
}
.basketbtn{
    @include icon();
    top:0;
    margin-top:5px;
    margin-left:-15px ;

}
.accountbtn{
    @include icon();
    top:0;
    margin-top:5px;
    margin-left: 120px;

}*/
.container {
  border: 1px solid white;
  max-width: 445px;
  margin: auto;
  height: 50vh;
}
.container h1 {
  text-align: center;
  padding-top: 90px;
}
.container .btn {
  display: flex;
  padding: 20px;
  margin: 40px auto auto auto;
  background: none;
  font-size: 19px;
  font-family: inherit;
}

footer {
  background-color: #C4C4C4;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  padding: 10px 20px;
}
footer p {
  font-size: 17px;
  text-align: center;
}
footer #add {
  text-align: center;
  list-style: none;
}
footer #add a {
  text-decoration: none;
  color: #000000;
}
footer .socialMedia ul {
  margin-top: 10px;
  display: flex;
  justify-content: space-around;
}
footer .socialMedia ul li {
  margin-top: 10px;
  list-style: none;
  font-size: 30px;
}
footer .socialMedia ul li a {
  color: #000000;
}
footer .socialMedia ul li a:hover {
  color: #7c619b;
}

@media screen and (min-width: 1000px) {
  .iconify {
    font-size: 35px;
  }

  .brand {
    margin-left: 10px;
  }
  .brand h2 {
    font-size: 21px;
    line-height: 90px;
  }
  .brand .logo {
    width: 92px;
    height: 92px;
  }

  .nav-bar {
    border-bottom: none;
  }
  .nav-bar .homebtn, .nav-bar .hamburger {
    position: absolute;
    display: none;
  }
  .nav-bar .accountbtn {
    position: absolute;
    margin-top: -65px;
    margin-left: 59rem;
  }
  .nav-bar .basketbtn {
    position: absolute;
    margin-top: -65px;
    margin-left: 56rem;
  }
  .nav-bar nav ul {
    all: unset;
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
    list-style: none;
    margin-left: 6.5rem;
  }
  .nav-bar nav ul li a {
    color: #000000;
    font-size: 19px;
    font-family: inherit;
  }

  footer {
    height: 10em;
  }
  footer .useful-links {
    display: block;
    text-align: center;
  }
  footer .useful-links ul {
    list-style: none;
    font-size: 20px;
    margin-top: 10px;
  }
  footer .useful-links ul li a {
    text-decoration: none;
    color: black;
  }

  p {
    font-size: 24px;
  }
}/*# sourceMappingURL=thankyou.css.map */